body{
   background-color: rebeccapurple;
   color: white;
   font-family: 'Open Sans', sans-serif;
   font-weight: 300 px;
}

#divPrincipal{
    padding: 20 10 20 10px;
    margin: 20px;
    align-content: center;
}

#divPrincipal:hover{
    background-color: blueviolet;
}